.search {
  background-color: #fff;
  position: relative;
  z-index: 15;
  &-text {
    &.is-empty {
      color: #bdbdbd;
    }
  }
}
.search-status {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    height: 55px;
    &:not(:last-child) {
      border-right: 1px solid #f2f2f2;
    }
  }
  &__icon {
    color: #eb5757;
  }
}
.search-btn {
  align-items: center;
  background-color: #eb5757;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  display: flex;
  outline: none;
  padding: 0 24px;
  &__wrapper {
    display: flex;
    justify-content: center;
    height: 47px;
    margin-top: 4px;
  }
  &__text {
    margin-left: 4px;
  }
}
.search-form {
  background-color: #fff;
  left: 0;
  top: -100%;
  right: 0;
  height: 460px;
  position: fixed;
  padding-top: 90px;
  z-index: 15;
  transition: top linear .2s;
  &.is-open {
    top: 0;
  }
  &__container {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
  }
}
.search-item {
  flex: 1;
  position: relative;
  &:not(:last-child) {
    border-right: 1px solid #f2f2f2;
  }
  &__header {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    height: 55px;
  }
  &__label {
    font-size: 9px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    margin-bottom: 4px;
    text-transform: uppercase;
  }
  &__body {
    position: absolute;
    left: 0;
    top: 55px;
    padding: 40px 16px;
    width: 100%;
  }
}
.search-container {
  background: rgba(79, 79, 79, 0.4);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: all linear .5s;
  &.is-open {
    opacity: 1;
    z-index: 10;
  }
}
.guests {
  display: flex;
  flex-direction: column;
  font-family: 'Mulish', sans-serif;
  &:not(:last-child) {
    margin-bottom: 48px;
  }
  &__label {
    font-weight: 700;
    margin-bottom: 4px;
  }
  &__text {
    color: #bdbdbd;
    margin-bottom: 12px;
  }
}
.places {
  margin: 0;
  padding: 0;
}
.place {
  align-items: center;
  color: #4f4f4f;
  display: flex;
  list-style: none;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  &__icon {
    margin-right: 8px;
  }
}
