<div class="search-container" (click)="close()" [ngClass]="{'is-open': isOpen}"></div>
1
<div class="search-status" (click)="open()">
  <div class="search-status__item">
    <span class="search-text is-empty">Add location</span>
  </div>
  <div class="search-status__item">
    <span class="search-text is-empty">Add guests</span>
  </div>
  <div class="search-status__item">
    <span class="material-icons search-status__icon">search</span>
  </div>
</div>123

<div class="search-form" [ngClass]="{'is-open': isOpen}">
  <div class="search-form__container">
    <div class="search-item">
      <div class="search-item__header">
        <span class="search-item__label">Location</span>
        <span class="search-text is-empty">Add location</span>
        <!--      <span class="search-text">Helsinki, Finland</span>-->
      </div>
    </div>
    <div class="search-item">
      <div class="search-item__header">
        <span class="search-item__label">Location</span>
        <span class="search-text is-empty">Add guests</span>
        <!--      <span class="search-text">4 guests</span>-->
      </div>
    </div>
    <div class="search-item">
      <div class="search-btn__wrapper">
        <button class="search-btn">
          <span class="material-icons search-btn__icon">search</span>
          <span class="search-btn__text">search</span>
        </button>
      </div>
    </div>
  </div>
</div>
